<h1 style="text-align:center">Your booking has been completed!</h1>
<h2 style="text-align:center">Here is your confirmation number: <%= rand(1234..9999)%></h2>


<h1 style="text-align:center">Flight #<%= @booking.flight.id %> for <%= pluralize(@booking.passenger_count, "passenger") %>.</h1>

<% @booking.passengers.each_with_index do |passenger, index|  %>
  <h4 style="text-align:center"><%= "Passenger #{index+1}" %>: <%= passenger.first_name %></h4>
<% end %>

<div style="text-align:center">
      <h2> Flight Information: </h2>
      <ul style="list-style:none;">
          <li> Flight Date: <%= @booking.flight.date.strftime('%e-%b-%Y') %></li>
          <li> Departure Time: <%= @booking.flight.departure_time.strftime('%k:%M') %></li>
          <li> Departing from: <%= @booking.flight.departing_airport.abbreviation %></li>
          <li> Arrival Time: <%= @booking.flight.arrival_time.strftime('%k:%M') %></li>
          <li> Destination: <%= @booking.flight.arriving_airport.abbreviation %></li>
          <li> Price per passenger:<%= @booking.flight.price %></li>
      </ul>

      Total Price: $<%= @booking.flight.price %> x <%= @booking.passenger_count %> = $<%= @booking.flight.price * @booking.passenger_count %>
      <br/>

</div>
